body {
    margin: 0px;
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit";
}
.container {
    width: 100vw;
    height: 94vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.box {
    width: 300px;
    height: 480px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    text-align: center;
}
.box-1 {
    text-align: center;
    margin-top: 15px;
}
.box-1 img {
    border-radius: 10px;
}

h1 {
    width: 250px;
    height: 50px;
    display: inline-block;
    text-align: center;
    font-size: 21px;
    color: hsl(218, 44%, 22%);
    
}
p {
    width: 250px;
    display: inline-block;
    text-align: center;
    font-size: 15px;
    color: hsl(216, 15%, 48%);
    
}
.attribution { 
    font-size: 11px;
    text-align: center;
    color: hsl(218, 44%, 22%);
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
}

